In [2]:
import pandas as pd

movement_df = pd.read_csv("../database/seeders/csv/movements.csv")
movement_df = movement_df.rename(columns={"Uraian": "Nama Barang"})
records_df = pd.read_csv("../database/seeders/csv/records.csv")
records_df["Tgl Dok"] = pd.to_datetime(records_df["Tgl Dok"])
records_df["Kode"] = records_df["Kode Barang"].str.split(".").str[-1].astype(int)

In [3]:
movement_df.sample(5)  # document 2

,Kode,Nama Barang,Nilai_Jumlah,Nilai_Rupiah,Mutasi_Masuk,Mutasi_Keluar,Mutasi_Jumlah,Jumlah,Rupiah,Tahun,Prioritas,KMeans_Cluster
101,143,IC 74HCT193,10,0,0.0,0,0,10,34380,2023,0,0
800,144,Penggaris Mika 50 Cm,62,0,0.0,1,-1,61,268400,2023,0,0
1324,45,becom-zet tab,100,0,1300.0,850,450,550,1430000,2023,1,1
875,88,Kaver Bufalo Merah Muda,7,0,0.0,0,0,7,192500,2023,0,0
394,826,IC LM 317,3,0,0.0,0,0,3,8250,2023,1,0

In [4]:
records_df.sample(5)  # document 1

,No Dokumen,Tgl Dok,Kode Barang,Nama Barang,Jumlah,Keterangan,Tahun,Kode
204,023180500677604001KD202200027K,2022-03-23,1.01.02.04.048.001686,Speaker sys logitech S 00143,1.0,Keperluan Lab Komunikasi Data,2022,1686
1867,023180500677604001KD202400046K,2024-03-21,1.01.02.04.048.000105,Diode IN 4007,49.0,Lab. Elektronika Terapan D3,2024,105
1264,023180500677604001KD202400006K,2024-02-05,1.01.03.04.999.000102,"Kabel MINI HDMI - VGA, AUDIO",4.0,Lab. Pengemudi Elektri D4,2024,102
1515,023180500677604001KD202400021K,2024-02-22,1.01.02.08.001.000329,Sarung tangan 20 KV Novax Electrical Gloves,5.0,Lab. Sistem Integrasi D4,2024,329
1941,023180500677604001KD202400047K,2024-03-21,1.01.02.04.048.001747,"Headsink sayap(1,6 cm x 2,4 cm)",29.0,Lab. Kualitas Daya D4,2024,1747

In [ ]:
# records_df[records_df["Keterangan"] == "Keperluan Lab. Elektronika Digital"]
records_df[records_df["Nama Barang"].count() > 10]

np.int64(2335)

In [8]:
barang_counts = records_df["Nama Barang"].value_counts()
barang_diatas_10 = barang_counts[barang_counts > 10]
barang_diatas_10

Nama Barang
Steker GB Germany                        56
Kabel Serabut NYMHY 3x2.5mm supreme      41
Timah 1/4Kg                              32
Stop Kontak 4Lb, ground                  29
Stop Kontak 5LB                          21
Kabel Serabut NYMHY 2x2,5                21
Isolasi Kertas                           20
Isolasi National 5milsx3 4               17
Stop Kontak 6Lb, ground                  15
Stop Kontak 3Lb, ground                  15
Arrow Klip Hitam Kecil                   15
Speaker sys logitech S 00143             15
Conector RJ 45                           14
Acrilyc bening 5 mm (2400 x 1200 cm)     14
Acrilyc Bening 3 mm (2400 x 1200 cm)     14
Cutting disk besi 4 x 1,2                12
Arrow Klip Merah Kecil                   12
Kabel Ties Besar 20cm                    11
Sarung Tangan                            11
Project Board GL-12                      11
Kabel Roll (10M)                         11
Kabel Kitani Serabut 1mm Hitam, Merah    11
Name: count, dtype: int64

In [124]:
movement_df["Nama Barang"].value_counts()

Nama Barang
Cap Elect 470uF 50V     3
Hansaplast Rol Kecil    2
Cap Elect 0.1uF 50V     2
Resistor 22K 0.5W       2
Banana Pin Test         2
                       ..
sanadryl dmp 120 mg     1
sanadryl exp 120 mg     1
Cenfresh Minidose       1
rivanol 100 ml          1
Synchronous Motor       1
Name: count, Length: 1886, dtype: int64

In [ ]:
records_df[records_df["Nama Barang"] == "IC LM 331"]

,No Dokumen,Tgl Dok,Kode Barang,Nama Barang,Jumlah,Keterangan,Tahun,Kode
2217,023180500677604001KD202400085K,2024-06-05,1.01.02.04.048.001420,IC LM 331,49.0,Lab. Kontrol Cerdas dan Robotika D4,2024,1420

In [ ]:
# merged_df = pd.merge(movement_df, records_df, on=["Kode", "Nama Barang"])
merged_df = pd.merge(movement_df, records_df, on=["Nama Barang"])
merged_df

,Kode_x,Nama Barang,Nilai_Jumlah,Nilai_Rupiah,Mutasi_Masuk,Mutasi_Keluar,Mutasi_Jumlah,Jumlah_x,Rupiah,Tahun_x,Prioritas,KMeans_Cluster,No Dokumen,Tgl Dok,Kode Barang,Jumlah_y,Keterangan,Tahun_y,Kode_y
0,71,Cat Besi Kuning Nippe 2000,0,0,1.0,0,1,1,47952,2023,1,0,023180500677604001KD202400006K,2024-02-05,1.01.01.01.006.000071,1.0,Lab. Pengemudi Elektri D4,2024,71
1,9,Plastisin,40,0,19.0,40,-21,19,68324,2023,1,0,023180500677604001KD202300015K,2023-02-20,1.01.01.02.001.000009,40.0,Lab. Marine Renewable Energy - SPE,2023,9
2,9,Plastisin,40,0,19.0,40,-21,19,68324,2023,1,0,023180500677604001KD202400017K,2024-02-13,1.01.01.02.001.000009,19.0,Lab. Energi - SPE,2024,9
3,15,Erlenmeyer 100mL,0,0,2.0,0,2,2,153180,2023,1,0,023180500677604001KD202400019K,2024-02-14,1.01.01.02.001.000015,2.0,Lab. Scada - SPE,2024,15
4,16,Erlenmeyer 250mL,0,0,2.0,0,2,2,88800,2023,1,0,023180500677604001KD202400019K,2024-02-14,1.01.01.02.001.000016,2.0,Lab. Scada - SPE,2024,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3561,559,T Sambungan Putih,16,0,20.0,16,4,20,240000,2024,1,0,023180500677604001KD202400040K,2024-03-18,1.01.03.06.999.000559,6.0,Lab. Real Time Computer Sistem D4,2024,559
3562,579,Thermometer 0-100C,10,0,24.0,7,17,27,1174392,2024,0,0,023180500677604001KD202200056K,2022-06-08,1.01.03.06.999.000579,5.0,Keperluan Lab Teknik Sistem Tenaga,2022,579
3563,579,Thermometer 0-100C,10,0,24.0,7,17,27,1174392,2024,0,0,023180500677604001KD202400010K,2024-02-07,1.01.03.06.999.000579,1.0,Lab. Medical Center D3,2024,579
3564,579,Thermometer 0-100C,10,0,24.0,7,17,27,1174392,2024,0,0,023180500677604001KD202400010K,2024-02-07,1.01.03.06.999.000579,3.0,Lab. Medical Center D3,2024,579
3565,579,Thermometer 0-100C,10,0,24.0,7,17,27,1174392,2024,0,0,023180500677604001KD202400015K,2024-02-12,1.01.03.06.999.000579,3.0,Lab. Ilmu Dasar - SPE,2024,579

In [89]:
merged_df.sample(5)

,Kode,Uraian,Nilai_Jumlah,Nilai_Rupiah,Mutasi_Masuk,Mutasi_Keluar,Mutasi_Jumlah,Jumlah_x,Rupiah,Tahun_x,Prioritas,KMeans_Cluster,No Dokumen,Tgl Dok,Kode Barang,Nama Barang,Jumlah_y,Keterangan,Tahun_y
4172,7,Toner Laserjet HP CF 401A,8,0,0.0,0,0,8,8140000,2023,0,0,023180500677604001KD202300059K,2023-06-06,1.01.01.99.999.000007,Dynamixel AX-18A 6pcs Bulk,3.0,Robot Eilero,2023
2176,44,Tang Cucut Diamond (Besar),11,0,0.0,2,-2,9,965250,2023,0,0,023180500677604001KD202200069K,2022-07-19,1.01.01.99.999.000044,Motor Roda 70mm Skateboard,2.0,Keperluan Robot KRAI,2022
2482,2,Spidol Permanent Hijau,120,0,0.0,12,-12,108,516780,2023,0,0,023180500677604001KD202300051K,2023-05-08,1.01.03.06.005.000002,Steker GB Germany,8.0,Lab. Electric Machine and Drive S2E,2023
11812,4,Amplop Kabinet Standart + Security Cuts 104 uk...,136,0,0.0,26,-26,110,1573000,2024,0,0,023180500677604001KD202300030K,2023-03-15,1.01.03.01.004.000004,Penghapus Karet FC,3.0,Lab. Game Mechanics,2023
12726,2,"Memori SD Card 32 GB, 90MB/s Sandisk",0,0,29.0,0,29,29,3090240,2024,0,0,023180500677604001KD202200026K,2022-03-21,1.01.01.04.002.000002,"Pelumas Semprot WD-40, 412ml",3.0,Keperluan Lab Energi,2022

In [ ]:
# records_df[records_df["Nama Barang"] == "Diode 1N 4001"]
dummy = records_df["Nama Barang"].value_counts().reset_index()

# dummy[dummy["count"] > 9]

                              Nama Barang  count
0                       Steker GB Germany     56
1     Kabel Serabut NYMHY 3x2.5mm supreme     41
2                             Timah 1/4Kg     32
3                 Stop Kontak 4Lb, ground     29
4                         Stop Kontak 5LB     21
5               Kabel Serabut NYMHY 2x2,5     21
6                          Isolasi Kertas     20
7              Isolasi National 5milsx3 4     17
8                 Stop Kontak 6Lb, ground     15
9                 Stop Kontak 3Lb, ground     15
10                 Arrow Klip Hitam Kecil     15
11           Speaker sys logitech S 00143     15
12                         Conector RJ 45     14
13   Acrilyc bening 5 mm (2400 x 1200 cm)     14
14   Acrilyc Bening 3 mm (2400 x 1200 cm)     14
15              Cutting disk besi 4 x 1,2     12
16                 Arrow Klip Merah Kecil     12
17                  Kabel Ties Besar 20cm     11
18                          Sarung Tangan     11
19                    Project Board GL-12     11
20                       Kabel Roll (10M)     11
21  Kabel Kitani Serabut 1mm Hitam, Merah     11
22                       Tool Set Electro     10
23          Kabel NYAF 1.5mm merah, hitam     10
24              Sedotan Timah Goot Sedang     10
25                            Tespen 220V     10
26            Solder Biasa Goot, 40W-220V     10
27               Jack Banana Hitam, merah     10

In [39]:
movement_df[movement_df["Uraian"] == "Isolasi National 5milsx3 4"]

,Kode,Uraian,Nilai_Jumlah,Nilai_Rupiah,Mutasi_Masuk,Mutasi_Keluar,Mutasi_Jumlah,Jumlah,Rupiah,Tahun,Prioritas,KMeans_Cluster
150,219,Isolasi National 5milsx3 4,40,0,17.0,40,-23,17,152847,2023,1,0
1552,219,Isolasi National 5milsx3 4,17,0,13.0,14,-1,16,87579,2024,1,0

In [ ]:
records_df[records_df["Nama Barang"] == "Jack Banana Hitam, merah"]

,No Dokumen,Tgl Dok,Kode Barang,Nama Barang,Jumlah,Keterangan,Tahun
100,023180500677604001KD202200019K,2022-03-02,1.01.02.04.048.000221,"Jack Banana Hitam, merah",75.0,Keperluan Lab. Factory Automation,2022
166,023180500677604001KD202200025K,2022-03-17,1.01.02.04.048.000221,"Jack Banana Hitam, merah",10.0,Keperluan Lab Scada,2022
244,023180500677604001KD202200037K,2022-04-18,1.01.02.04.048.000221,"Jack Banana Hitam, merah",100.0,Keperluan Lab RTCS,2022
735,023180500677604001KD202200094K,2022-09-13,1.01.02.04.048.000221,"Jack Banana Hitam, merah",20.0,Keperluan Lab. Telkom,2022
743,023180500677604001KD202200095K,2022-09-15,1.01.02.04.048.000221,"Jack Banana Hitam, merah",20.0,Keperluan Lab. Elektronika Digital,2022
744,023180500677604001KD202200095K,2022-09-15,1.01.02.04.048.000221,"Jack Banana Hitam, merah",30.0,Keperluan Lab. Elektronika Digital,2022
1276,023180500677604001KD202400009K,2024-02-06,1.01.02.04.048.000221,"Jack Banana Hitam, merah",151.0,Lab. Elektronika Industi D4,2024
1277,023180500677604001KD202400009K,2024-02-06,1.01.02.04.048.000221,"Jack Banana Hitam, merah",348.0,Lab. Elektronika Industi D4,2024
1674,023180500677604001KD202400039K,2024-03-15,1.01.02.04.048.000221,"Jack Banana Hitam, merah",100.0,Lab. Sistem Analog,2024
1743,023180500677604001KD202400040K,2024-03-18,1.01.02.04.048.000221,"Jack Banana Hitam, merah",50.0,Lab. Real Time Computer Sistem D4,2024

In [59]:
# 1. Pastikan kolom 'Tgl Dok' bertipe datetime (Langkah kritis)
records_df["Tgl Dok"] = pd.to_datetime(records_df["Tgl Dok"])

# 2. Filter data untuk barang spesifik dan atur 'Tgl Dok' sebagai index
#    Ini menciptakan DataFrame baru dengan index yang benar
df_jack_banana = records_df[
    records_df["Nama Barang"] == "Jack Banana Hitam, merah"
].set_index("Tgl Dok")

# 3. Lakukan Resampling Bulanan ('ME' = Month End) dan Hitung Total 'Jumlah'
#    Sekarang, Anda memanggil resample dari DataFrame yang sudah berindex datetime.
df_bulanan = df_jack_banana["Jumlah"].resample("ME").sum().fillna(0)

print("--- Data Transaksi per Bulan (Resampled) ---")
print(df_bulanan)

--- Data Transaksi per Bulan (Resampled) ---
Tgl Dok
2022-03-31     85.0
2022-04-30    100.0
2022-05-31      0.0
2022-06-30      0.0
2022-07-31      0.0
2022-08-31      0.0
2022-09-30     70.0
2022-10-31      0.0
2022-11-30      0.0
2022-12-31      0.0
2023-01-31      0.0
2023-02-28      0.0
2023-03-31      0.0
2023-04-30      0.0
2023-05-31      0.0
2023-06-30      0.0
2023-07-31      0.0
2023-08-31      0.0
2023-09-30      0.0
2023-10-31      0.0
2023-11-30      0.0
2023-12-31      0.0
2024-01-31      0.0
2024-02-29    499.0
2024-03-31    150.0
Freq: ME, Name: Jumlah, dtype: float64

In [35]:
records_df.sample(5)

,No Dokumen,Tgl Dok,Kode Barang,Nama Barang,Jumlah,Keterangan,Tahun
105,023180500677604001KD202200019K,2022-03-02,1.01.02.04.048.000327,Led Merah Kecil,30.0,Keperluan Lab. Factory Automation,2022
472,023180500677604001KD202200058K,2022-07-01,1.01.02.04.048.000382,PCB Single Layer Fiber 200cm x 100cm,1.0,Keperluan Lab Elektronika Terapan,2022
1868,023180500677604001KD202400046K,2024-03-21,1.01.02.04.048.000219,Isolasi National 5milsx3 4,5.0,Lab. Elektronika Terapan D3,2024
218,023180500677604001KD202200030K,2022-03-29,1.01.03.06.004.000510,Switch Toggle on off on 6Pin,30.0,Keperluan Lab Rangkaian Listrik,2022
423,023180500677604001KD202200057K,2022-06-09,1.01.02.04.048.000414,Project Board GL-12,10.0,Keperluan Lab Elka Dasar,2022